<a class="newspaper-headline" href="/">
  <h1 class="newspaper-font text-center">The New York Times</h1>
</a>
<div class="d-flex intro-bar">
  <div class="p-2 flex-grow-1">
    <h5 class="newspaper-font text-capitalize">{{section}}</h5>
    <p class="card-text intro-text">You are reading <span class="content-title">{{title}}</span> </p>
  </div>

  <div class="p-2">
    <a href="/" class="btn btn-sm btn-outline-dark">
      <i class="fas fa-home"></i> Back to Home
    </a>
  </div>
</div>
<div class="content-bar">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="card mx-auto mb-3" style="width: 18.5rem;">
        <img class="card-img-top img-fluid div-205 mx-auto mt-2" src="{{this.imagePath}}" alt="Card image cap">
        <div class="card-body">
          <a href="{{this.link}}" target="_blank" class="card-title news-title">{{this.title}}</a>
          <p class="card-text mt-2">{{this.description}}</p>
          <a href="{{this.link}}" target="_blank" class="view-comments btn btn-link">Read full article
          </a>
          <a href="/save-article/{{this.articleId}}" class="btn btn-sm round btn{{#this.isSaved}}-outline{{/this.isSaved}}-dark">
            {{this.buttonStatus}}
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      {{!-- Add Comment Form --}}
      <div id="view-response">
        <div id="comment-display">
          <p>Responses for <span id="article-title" class="content-title">{{this.title}}</span></p>
          {{# each comments }}

          <div class="comment-display">
            <div class="card border-info mb-3" style="max-width: 80%;">
              <div class="card-body text-info">
                <h5 class="card-title">{{this.commentBody}}</h5>
                <p class="card-text">- {{this.username}}</p>

              </div>

            </div>
          </div>
          {{/each}}
          <p><i class="fas fa-user-edit"></i> Comment </p>
          <form action="/articles/{{this.articleId}}" method="post" style="max-width: 80%;">
            <div id="save-comment" class="justify-content-center">
              <div class="form-group">
                <input type="text" class="form-control mb-2" name="new_comment_username" id="new-comment-username"
                  placeholder="Your public name">
              </div>

              <div class="form-group">
                <textarea class="form-control mb-2" name="new_comment_body" id="new-comment-body" rows="3" placeholder="Tell us what you think about this article..."></textarea>
              </div>

              <button type="submit" class="btn btn-light">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> {{!-- End Content Bar --}}