<a class="newspaper-headline" href="/">
  <h1 class="newspaper-font text-center">The New York Times</h1>
</a>
<div class="d-flex intro-bar">
  <div class="p-2 flex-grow-1">
    <p>Welcome to {{title}} <span id="datetime"></span></p>
    <p><i class="fas fa-cut"></i> Scraper Tools:</p>

    <a href="/scrape/world" class="btn btn-sm btn-outline-info mr-2 mb-2">
      <i class="fas fa-globe-americas"></i> World Section
    </a>
    <a href="/scrape/us" class="btn btn-sm btn-outline-info mr-2 mb-2">
      <i class="fas fa-flag-usa"></i> U.S. Section
    </a>
    <a href="/scrape/business" class="btn btn-sm btn-outline-info mr-2 mb-2">
      <i class="fas fa-shopping-basket"></i> Business Section
    </a>
    <a href="/scrape/tech" class="btn btn-sm btn-outline-info mr-2 mb-2">
      <i class="fas fa-user-astronaut"></i> Technology Section
    </a>
    <a href="/scrape/food" class="btn btn-sm btn-outline-info mr-2 mb-2">
      <i class="fas fa-carrot"></i> Food Section
    </a>
    <a href="/scrape/travel" class="btn btn-sm btn-outline-info mr-2 mb-2">
      <i class="fas fa-plane-departure"></i> Travel Section
    </a>
    <a href="/scrape/style" class="btn btn-sm btn-outline-info mr-2 mb-2">
      <i class="fas fa-glass-martini-alt"></i> Style Section
    </a>

  </div>
  <div class="p-2">
    <p><i class="fas fa-database"></i> Database:</p>
    <p>Currently there are {{qty}} articles scraped form the NY Times and displayed.</p>
    <a href="/saved"><button id="del-btn" class="btn btn-sm round btn-outline-success"><i class="far fa-newspaper"></i>
        View Saved Articles</button></a>


    <a href="/delete"><button id="del-btn" class="btn btn-sm round btn-outline-danger"><i class="far fa-trash-alt"></i>
        Delete Unsaved Articles</button></a>



  </div>
</div>
<div class="content-bar">
  {{# each articles }}
  <div class="row">
    {{# each this}}
    <div class="col-sm-6 col-md-4">
      <div class="card mx-auto mb-3" style="width: 18.5rem;">
        <img class="card-img-top img-fluid div-205 mx-auto mt-2" src="{{this.imagePath}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title news-title"></h5>
          <a href="{{this.link}}" target="_blank" class="card-title">{{this.title}}</a>
          <p class="card-text mt-2">{{this.description}}</p>
          <a href="/articles/{{this._id}}" class="view-comments btn btn-link"><i class=" far fa-comments"></i> View
            Comments
          </a>
          <a href="/save-article/{{this._id}}" class="btn btn-sm round btn{{#this.isSaved}}-outline{{/this.isSaved}}-dark">
            {{this.buttonStatus}}
          </a>
        </div>
      </div>
    </div> {{/each}} </div>
  {{/each}} </div> {{!-- End Content Bar --}}